body {
  background-color: #A0EFFA;
}

h1 {
  color: #2A717A;
}

h3 {
  color: #4E757A;
}


hr {
  color: white;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%;
}

img {
  max-width: 200px;
}